nav {
  background-color: #acd373;
  height: 106px;
  line-height: 106px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: relative;
  z-index: 1;
}
nav img {
  vertical-align: middle;
}
nav a {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 18px;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 14px;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.right {
  float: right;
}

header {
  text-align: center;
  height: 700px;
  background-color: #9abd67;
  background-image: url("../img/skyline.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
header h1 {
  padding-top: 230px;
  color: #f7f7f7;
  font-size: 48px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}
header h2 {
  margin-top: 30px;
  font-size: 24px;
  font-family: "DroidSerif";
  font-style: italic;
  color: #f7f7f7;
}
header a {
  margin-top: 132px;
  display: block;
}
.who {
  padding: 90px 0;
  font-family: "Source Sans Pro";
  color: #454545;
}
.who h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.who h3 img {
  margin-right: 20px;
  vertical-align: middle;
}
.who p {
  font-size: 18px;
}
.who p + p {
  margin-top: 30px;
}
a.greenlink {
  border: 1px solid #acd373;
  color: #acd373;
  font-family: "DroidSerif";
  font-style: italic;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-top: 45px;
}
.who .container div {
  width: 769px;
  display: inline-block;
  vertical-align: top;
}
.who .container > img {
  display: inline-block;
  margin-left: 140px;
}

.video {
  background: url('../img/video-bg.jpg') no-repeat top center;
  height: 523px;
  line-height: 523px;
  text-align: center;
}
.video img {
  vertical-align: middle;
}
ul, li. h5, em {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ourTeam {
  background: #acd373;
  text-align: center;
}
.ourTeam {
    padding-left: 40px
}
.ourTeam {
    padding-right: 40px;
}
.ourTeam ul {
    position: relative;
}
.ourTeam .arrowLeft {
    position: absolute;
    left: -27px;
    top: 155px;
}
.ourTeam .arrowRight {
    position: absolute;
    right: -27px;
    top: 155px;
}
.ourTeam .container > h5 {
    font-weight: normal;
    font-size: 30px;
    color: #f7f7f7;
}
.ourTeam .container > p {
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
}
.ourTeam li {
  margin: 70px 12px 0 12px;
  background: white;
  text-align: center;
  width: 270px;
  height: 247px;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
}
.ourTeam li:first-of-type {
  margin-left: 0;
}
.ourTeam li:last-of-type {
  margin-right: 0;
}
.ourTeam li > img {
  margin-top: -70px;
  border-radius: 50%;
}
.ourTeam li h5 {
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #acd373;
  margin-top: 15px;
}
.ourTeam li em {
  font-family: "DroidSerif";
  font-style: italic;
  font-size: 16px;
  color: #787878;
  margin-top: 9px;
  display: block;
}
ourTeam li div {
  height: 70px;
  background: #ebebeb;
  line-height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ourTeam li div img {
  border-radius: 50%;
  verticle-align: middle;
  opacity: 0.65;
  margin: 0 4px;
}
.collegeKids {
    background-image: url("../img/college%20kids.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 523px;
    line-height: 523px;
    text-align: center;
}
.collegeKids img {
    vertical-align: middle;
}
.ourServices {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.ourServices h3 {
  text-align: center;
  font-size: 30px;
  color: #454545;
  font-family: "Source Sans Pro";
}
.ourServices p {
    font-family: "Droid Serif";
    margin-top: 20px;
    font-size: 18px;
}
.ourServices h3 span {
    color: #acd373;
}
.ourServices hr {
    border: none;
    background: url("../img/Elipse%20black%20separator.png") no-repeat center center;
    height: 10px;
    margin-top: 20px;
}
.ourServices li {
  margin-top: 84px;
  text-align: center;
}
.ourServices li span {
    width: 280px;
    text-align: left;
    color: #454545;
    font-family: "Source Sans Pro";
    line-height: 1.25em;
}
.ourServices li div {
    width: 73px;
    height: 78px;
    background-position: center top;
    background-repeat: no-repeat;
    margin-right: 17px;
}
.ourServices li .paint {
    background-image: url('../img/paintbrush.png');
}
.ourServices li .mini {
    background-image: url('../img/mini%20cell%20phone.png');
}
.ourServices li .monitor {
    background-image: url('../img/monitor.png');
}
.ourServices li .easle {
    background-image: url('../img/easle.png');
}
.ourServices li .game {
    background-image: url('../img/game%20controller.png');
}
.ourServices li .heart {
    background-image: url('../img/heart.png');
}
.ourServices li,
.ourServices li div,
.ourServices li span {
  display: inline-block;
  vertical-align: top;
}
.ourServices li h4 {
    font-size: 20px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: #acd373;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.ourServices li p {
  font-size: 18px;
  color: #444444;
  font-family: "Source Sans Pro";
  margin-top: 18px;
  line-height: 1.25em;
}   
.learn {
    text-align: center; 
}
.learn img {
    margin-bottom: 103px;
    font-family: "Droid" serif";
}
.next {
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #9abd67;
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    font-size: 18px;
}
.next img {
    vertical-align: middle;
    padding-left: 35px;
}
.recent {
    background-color: #f7f7f7;
}
.recent h3 {
    padding-top: 100px;
}
.recent li {
    display: inline-block;
    vertical-align: top;
}
.recent hr {
    border: none;
    background: url("../img/Elipse%20black%20separator.png") no-repeat center center;
    height: 10px;
}
.recent h3 {
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #454545;
    padding-left: 214px;
    padding-right: 214px;
}
.recent h3 span {
    color: #acd373;
}
.recent p {
    text-align: center;    
}
.recent .container ul {
    text-align: center;
}
.recent .kick {
    padding-top: 25px;
    padding-bottom: 28px;
    background-color: #ebebeb;
}
.recent h4 {
    color: #454545;
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: 700;
}
.recent p {
    color: #787878;
    font-family: DroidSerif;
    font-size: 16px;
    font-style: italic;
}
.recent .seo {
    padding-top: 26px;
    padding-bottom: 29px; 
    background-color: #ebebeb;
}
.recent .automaty {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ebebeb;
}
.recent .screenr {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ebebeb;
}
.recent .little {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ebebeb;
}
.view {
    text-align: center; 
}
.view img {
    margin-bottom: 73px;
    margin-top: 80px;
    color: #acd373;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
}
.envato {
    background-color: #ebebeb;
    text-align: center;
    height: 119px;
    line-height: 150px; 
}
.envato img {
    margin-left: -92px;
}
.testimonials {
    background-image: url("../img/book pic.png");
    background-repeat: no-repeat;
    padding-top: 118px;
    height: 540px;
    margin-bottom:-109px;
}
.testimonials .test h3 {
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    font-size: 30px;
}
.testimonials li {
  display: inline-block;
  vertical-align: top;
}
.testimonials li:last-of-type {
    margin-left: 29px;
}
.testimonials .test {
    height: 259px;
    width: 370px;
    margin: 0px;
    padding: 0;
}
.testimonials .test p {
    width: 259px;
    height: 104px;
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    font-size: 18px;
    padding-top: 39px;
    padding-bottom: 46px;
    line-height: 1.25em;
}
.testimonials .beard {
    height: 259px;
    width: 370px;
    margin: 0px;
    padding: 0;
}
.testimonials .second {
    height: 259px;
    width: 370px;
    margin: 0px;
    padding: 0;
}
.testimonials .dots {
    display: block;
    width: 55px;
    margin-left: 730px;
    padding-top: 40px;
}
.testimonials h4 {
    margin-top: 29px;
    color: #acd373;
    font-family: "Source Sans Pro";
    font-size: 18px;
}
.testimonials h6 {
    opacity: 0.85;
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-size: 18px;
    font-style: italic;
    margin-top: 15px;
}
.tesitmonials h4 h6 {
    text-align: right;
}
.testimonials .beard p, 
.testimonials .second p {
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 200;
    background: url("../img/testimonial-bg.png") no-repeat;
    padding-top: 24px;
    padding-left: 13px;
    padding-right: 13px;
    width: 344px;
    height: 118px;
}
.testimonials li img,
.testimonials li span {
    display: inline-block;
    vertical-align: top;
}
.testimonials li span {
    margin-left: 28px;
}
.blog {
    height:690px;
    background-color: #f7f7f7;
    padding-top: 110px;
    margin-bottom: -90px;
}
.blog h3 {
    text-align: center;
    color: #454545;
    font-family: "Source Sans Pro";
    font-size: 30px;
    margin-bottom: 20px;
}
.blog p {
    text-align: center;
    font-family: "Droid Serif";
    color: #454545;
    font-size: 16px;
    margin-bottom: 18px;
}
.blog hr {
    border: none;
    background: url("../img/Elipse%20black%20separator.png") no-repeat center center;
    height: 10px;
    margin-bottom: 55px;
}
.blog li {
  display: inline-block;
  vertical-align: top;
}
.blog img {
    vertical-align: middle;
    margin-top: -30px;
}
.blog li div {
    height: 165px;
    width: 270px;
    background-color: #ebebeb;
    padding-top: 170px;
    text-align: center;
    position: relative;
    color: #454545;
    font-family: "Source Sans Pro";
    font-size: 18px;
}
.blog h4 {
    margin-top: 17px;
}
.blog .web {
    background: url("../img/web%20design2.png") no-repeat top center;
}
.blog .native {
    background: url("../img/native%202.png") no-repeat top center;
}
.blog .not {
    background: url("../img/wheat%20field.png") no-repeat top center;
}
.blog .quick {
    background: url("../img/wood%20pile%202.png") no-repeat top center;
}
.blog span {
    background-color: #acd373;
    height: 50px;
    line-height: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-size: 20px;
    font-style: italic;
}
.join {
    background-color: #acd373;
    height: 90px;
    text-align: center;
    color: #f7f7f7;
    padding-top: 45px;
    font-family: "Source Sans Pro";
    font-size: 18px;
}
.join img {
    vertical-align: middle;
    padding-left: 35px;    
}
.map {
    background-image: url("../img/maps.png");
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    height: 500px;
    line-height: 500px;
}
.map img {
    vertical-align: middle;
}
.contact {
    background-color: #acd373;
    text-align: center;
    height: 660px;
    padding-bottom: 120px;
}
.contact h2 {
    padding-top: 90px;
    font-size: 30px;
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    margin-bottom: 19px;
}
.contact label {
    display: block;
    color: #f7f7f7;
    margin-top: 35px;
    margin-bottom: 17px;
}
.contact form {
    /* height: 400px; */
    width: 569px; 
    text-align: left;
    margin: 0 auto;
}
.contact textarea {
    height: 156px;
}
.contact label {
    color: #f7f7f7;
    font-family: "Source Sans Pro";
    font-size: 18px;
}
.contact input,
.contact textarea {
    width: 92%;
    display: block;
    background: #9abd67;
    border: none;
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-size: 15px;
    font-style: italic;
    padding: 13px 4%;
}
.contact .send {
    color: #f7f7f7;
    background-color: #9abd67;
    font-family: "Droid Serif";
    font-style: italic;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 50px;
    width: 80px;
    text-align: center;
}
.footer {
    background-color: #9abd67;
    text-align: center;
    /* padding-left: 220px; */
    padding-top: 35px;
    height: 75px;
    vertical-align: middle;
}
.footer img {
    vertical-align: middle;
    text-align: center;
}
.footer coppyright {
    margin-left: 9px;
}
.footer .facebook {
    padding-left: 320px;
}
