nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
nav img {
    vertical-align: middle;
}
nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("../img/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}
header h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}
.who {
    height: 577px;
    background-color: #f7f7f7;
}
.who img:nth-of-type(1) {
    padding-top: 118px;
    padding-left:215px;
}
.who h3 {
    padding-top: 47px;
    font-size: 30px;
    font-family: "Source Sans Pro";
    font weight: bold;
    color: #c8c8c8;
    padding-left: 285px;
}
.who p:first-of-type {
    padding-top: 35px;
    padding-left: 217px;
    color: #c8c8c8;
    font-size: 18px;
    font-family: "Source Sans Pro";
    font weight: medium;
    width: 769px;
}
.who p:last-of-type {
    padding-top: 35px;
    padding-left: 217px;
    color: #c8c8c8;
    Font-size: 18px;
    font-family: "Source Sans Pro";
    font-weight: medium;
    width: 769px;
}
.who img:nth-of-type(2) {
    padding-left: 140px;
    padding-top: 91px;
}
.who img:nth-of-type(3) {
    margin-left: 0px;
    padding-top: 48px;
}
